<h2 class="articles__heading">Contact Us</h2>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas aut molestiae molestias nobis vero quibusdam ea tempore eveniet quo, libero iste officia, sequi necessitatibus sed quas, odio ipsa sint dolores!</p>